<div class="footer">
    <canvas id="destination"></canvas>
    <div class="email">
        <img src="{{site.baseurl}}/assets/images/logo.svg">
        <h1>Want to integrate your&nbsp;project?</h1>
        <h1>Email us: <a href="mailto:{{site.email}}">{{site.email}}</a></h1>
    </div>
    <div class="social_links">
        <div class="navbar-item">
            <a href="{{site.url_medium}}"><i class="fab fa-medium"></i></a>
        </div>
        <div class="navbar-item">
            <a href="{{site.url_twitter}}"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
