<head>
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:url"           content={{ site.url }} />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ site.title }}" />
    <meta property="og:description"   content="{{ site.description }}" />
    <meta property="og:image"         content="{{site.url}}/assets/images/preview_image.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{site.url}}/assets/images/preview_image.png">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <link rel="icon" href="{{site.baseurl}}/favicon.png">
    <title>{{site.title}}</title>
    {% include yandex.html %}
</head>
