<img src="{{site.baseurl}}/assets/images/wave.svg" class="is-hidden-desktop wave-top">
<header >
    <div class="main">
        Platform for creating, piloting and running new business models over the distributed energy market without a centralized billing system
    </div>
    <div class="columns">
        <div class="column">
            <b>Blockchain</b> guarantees accountable and trustful relationships between all participants.
        </div>
        <div class="column">
            <b>Smart contracts</b> enable building any business model between current and new players on energy market.
        </div>
        <div class="column">
            <b>5 seconds off-chain transactions</b> enable energy and money accounting between producers and consumers in real time.
        </div>
    </div>
</header>
{% include shader.html %}