<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="{{site.baseurl}}/assets/images/logo_big.svg" id="logo">
        </a>
    </div>

    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <div class="navbar-item">
                <a href="{{site.url_medium}}" >Blog</a>
            </div>
            <div class="navbar-item">
                <a href="{{site.url_twitter}}" >Twitter</a>
            </div>
        </div>
    </div>
</nav>