<h1>
    Partner initiatives
</h1>
<div class="columns is-multiline" >
    {% for member in site.partners %}
    <div class="column is-one-quarter">
        <div class="card partner">
            <div class="card-image">
                <figure class="partner">
                    <a href="{{ member.url_link }}" target="_blank"><img src="{{site.baseurl}}{{ member.img }}"  alt="Placeholder image"></a>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="subtitle is-6">{{ member.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>