<h1>
    Project growth plan
</h1>

<div class="columns">
    <div class="column is-one-third">
        <h2>2018</h2>
        <ul class="with-square-bullets checked">
            <li>Finish prototype V</li>
            <li>Develop application for network users V</li>
            <li>Launch first ØNDER version V</li>
            <li>Adapt the solution to the requirements of 1 or 2 companies, launch ØNDER in pilot mode V</li>
            <li>Deliver first devices (partners MIPT solution) V</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <h2>2019</h2>
        <ul class="with-square-bullets">
            <li>Contracts with 5+ companies</li>
            <li>4+ services with using ØNDER platform</li>
            <li>Launch demo complex ØNDER in Asia</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <h2>2020</h2>
        <ul class="with-square-bullets">
            <li>Contracts with 10+ companies</li>
            <li>6+ services with using ØNDER platform</li>
            <li>Launch demo complex ØNDER in Europe</li>
        </ul>
        <h2>2021</h2>
        <ul class="with-square-bullets">
            <li>50K participants of energy system use ØNDER</li>
        </ul>
    </div>
</div>