<h1>
    Project growth plan
</h1>

<div class="columns">
    <div class="column is-one-third">
        <h2 class="has-bottom-margin">2018</h2>
        <ul class="with-square-bullets">
            <li class='checked'>Finish prototype</li>
            <li class='checked'>Develop application for network users</li>
            <li class='checked'>Launch first ØNDER version</li>
            <li class='checked'>Adapt the solution to the requirements of 1 or 2 companies, launch ØNDER in pilot mode</li>
            <li class='checked'>Deliver first devices by MIPT</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <h2 class="has-bottom-margin">2019</h2>
        <ul class="with-square-bullets">
            <li class='checked'>Contracts with 5+ companies</li>
            <li class='checked'>4+ services with using ØNDER platform</li>
            <li class='checked'>Launch demo complex ØNDER in Asia</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <h2 class="has-bottom-margin">2020</h2>
        <ul class="with-square-bullets">
            <li>Services for 10+ companies</li>
            <li>Launch demo complex ØNDER in Europe</li>
        </ul>
        <h2 class="has-top-margin px35 has-bottom-margin">2021</h2>
        <ul class="with-square-bullets">
            <li>50K participants of energy system use ØNDER</li>
        </ul>
    </div>
</div>
