<h1>
  License description 
</h1>
<p>
  Certificate № 2019611895, 06 February 2019
</p>
<p>
  Software that provides power transactions through energy smart contracts.
</p>
<p><b>Type of license</b>: Non-exclusive perpetual server license.</p>
<br>
<p>
  <b>Functional description</b><br>
  — Technological and informational support of buying and selling of electricity<br>
  — Configuring settlement services as a part of the electricity buying and selling process.
</p>
<br>



<p>
  <b>License cost</b>: 7&nbsp;500&nbsp;000&nbsp;₽
</p>
<p>VAT is not taxed in accordance with subparagraph 26 of paragraph 2 of article 149 of the Tax code of the Russian Federation.</p>

<br>
<p><b>Free technical support and software updates</b> are made within 12 months from the date of installation.</p>
