@charset "utf-8";
body{
  font-family: 'Open Sans', sans-serif;
  color: $color-black;
  }
a{color: initial;}
a:hover{
  opacity: 0.5;
  color: initial;
}

.navbar {
  background: $color-black;
  .navbar-item a, .navbar-item a:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

.hero {
  padding: 0 64px;
  @include until($desktop){
    padding: 0 16px;
  }
}

header{
  height: 100vh;
  .main{
    font-family: $font-montserrat;
    font-weight: 200;
    font-size: 64px;
    line-height: 1em;
    @include until($desktop){
      font-size: 24px;
    }
  }
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  padding: 64px 0px 16px 0px;
  .columns{
    margin-top: auto;
  }
}

.content{
  font-size: $font-size-m;

  h1{
    font-size: $font-size-h1;
    font-family: $font-montserrat;
    font-weight: 900;
    margin-top: 128px;
  }
  h2{
    font-size: $font-size-m;
    font-weight: bold;
  }
  .card {
    box-shadow: none;
    figure {
      margin-right: 0;
      margin-left: 0;
      &.partner{
        height: 65px;
        text-align: left;
      }
    }
    .card-content{
      padding: 16px 0 0 0;

      .title{
        font-size: $font-size-m;
        font-weight: bold;
      }
      .subtitle{
        font-size: $font-size-m;
      }
    }
  }
  ul {
    margin-left: 0;
    position: relative;
    &.checked {
      li:before {
        content: url("ui/checkbox_on.svg");
      }
    }
    li {
      list-style: none;
      margin-bottom: 1em;
      padding-left: 50px;

    }
    li:before{
      content: url("ui/checkbox_off.svg");
      position: absolute;
      left: 0;
    }
  }
}
.footer{
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 836px;
  padding: 0;
  text-align: center;
  @include until($tablet){
    height: 600px;
  }
  h1{
    font-size: $font-size-h1;
    font-family: $font-montserrat;
    font-weight: 900;
    @include until($tablet){
      font-size: $font-size-m;
    }
  }
  a{
    color: $color-blue;
  }
  img{
    padding-bottom: 30px;
  }
  .email{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .social_links{
    margin-top: auto;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    font-size: $font-size-h1;
    padding-bottom: 80px;
    a{
      color: $color-black;
    }
  }

}