@charset "utf-8";
html {
  font-size: $font-size-m;
  @include until($desktop) {
    font-size: $font-size-s;
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-black;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: initial;
}

a:hover {
  opacity: $opacity-half;
  color: initial;
}

.navigation{
  &.is-fixed-top{
    position: fixed;
    top: 0;
    z-index: 10;
  }
  display: flex;
  background: $color-white;
  transition: all 0.5s ease;
  margin: 0 $offset-m;
  padding-top: $offset-m;
  @include from($tablet) {
    margin-left: $offset-m;
    padding-top: $offset-xxl;
  }
  @include from($desktop) {
    margin-left: $offset-xxl;
    padding-top: $offset-xxl;
  }
  .brand {
    transition: all 0.5s ease;
    margin: 0 $offset-l 0 0;
    flex-basis: 236px;
    @include until($desktop) {
      margin-left: 0;
    }
  }

  .nav-menu{
    display: flex;
    align-items: flex-end;

    .nav-item{
      padding-left: 0;
      padding-right: 0;
    }
    .nav-item:not(:last-of-type){
      margin-right: 1em;
    }
  }

  a, a:hover {
    color: $color-black;
    background-color: initial;
  }

  &.fixed-nav {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 8px 8px;
    padding-top: 0;
    margin-top: -1px;
    padding-right: $offset-m;
    padding-left: $offset-m;
    .brand{
      transform: scale(0.7);
      transform-origin: left center;
    }
    .nav-item{
      align-self: center;
    }
  }

  @include until($landscape) {
    padding-top: 8px !important;
    padding-bottom: 6px !important;
    padding-right: $offset-m;
    padding-left: $offset-m;
    margin-top: -1px;
    margin-left: 0;
    width: 100% !important;
    border-radius: 0 !important;
    .brand {
      display: flex;
      align-items: center;
      flex-shrink: 1;
      margin-left: 0;
      transform: scale(0.7) !important;
      transform-origin: left center;
    }
    .nav-menu {
      margin-left: auto;
      align-items: center;
    }
  }
}

.hero {
  padding: 0 $offset-xxl;
  @include until($desktop) {
    padding: 0 $offset-m;
  }
}

#container {
  canvas {
    position: absolute;
    top: 200px;
    z-index: -1;
  }
}

#destination {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.wave-top {
  position: absolute;
  z-index: -1;
  top: 40%;
  width: 100%;
  left: -2px;
}

.wave-bottom {
  @extend .wave-top;
  top: initial;
  z-index: 1;
}

header {
  min-height: 100vh;


  .main {

      padding-top: 2em;

    font-family: $font-montserrat;
    font-weight: 900;
    font-size: $font-size-xl;
    line-height: 1em;
    z-index: 2;
    padding-bottom: $offset-xl;
    line-height: normal;
    @media screen and (orientation: landscape) and (max-width: 824px) {
      font-size: $font-size-l;
    }
    @include until($tablet) {
      font-size: 24px;
      line-height: 1.25em;
    }
    @include until($desktop) {
      font-size: 56px;
    }
    @include until($landscape) {
      font-size: 24px;
    }
  }
  display: flex;
  flex-direction: column;
  padding: 0 0 $offset-m 0;
  .columns {
    z-index: 2;
    margin-top: auto;
  }
}

.main-content {
  h1 {
    font-size: $font-size-h1;
    font-family: $font-montserrat;
    font-weight: 900;
    margin-top: 128px;
    margin-bottom: $offset-l;
    line-height: 1em;
    @include until($tablet) {
      margin-top: $offset-xxl;
    }
  }
  h2 {
    font-weight: bold;
  }
  .card {
    box-shadow: none;
    figure {
      margin-right: 0;
      margin-left: 0;
      &.partner {
        height: 55px;
        text-align: left;
        display: flex;
        align-items: center;
        @include until($tablet) {
          height: initial;
        }
      }
      img.team {
        border-radius: 8px;
      }
    }
    .card-content {
      padding: 0.5em 0 0 0;

      .title {
        font-size: $font-size-m;
        font-weight: bold;
        @include until($desktop) {
          font-size: $font-size-s;
        }
      }
      .subtitle {
        font-size: $font-size-m;
        @include until($desktop) {
          font-size: $font-size-s;
        }
      }

    }
    .media-content {
      overflow: hidden;
    }
    &.partner {
      margin-bottom: 1em;
    }
  }
  ul {
    margin-left: 0;
    position: relative;

    &.with-square-bullets {
      @include until($desktop) {
        margin-left: -0.5em;
      }
      li:before {
        content: url("ui/checkbox_off.svg");
        margin-top: -0.25em;
        @include until($desktop) {
          margin-top: -0.45em;
          transform: scale(0.6);
        }
      }
    }
    &.checked {
      li:before {
        content: url("ui/checkbox_on.svg");
      }
    }
    &.with-long-dash {
      li:before {
        content: "\2014";
      }
      li {
        padding-left: 1.2em;
        margin-bottom: 0;
        line-height: normal;
      }
    }

    li {
      list-style: none;
      margin-bottom: 1.25em;
      padding-left: 46px;
      line-height: normal;
      @include until($desktop) {
        padding-left: 36px;
        margin-bottom: 1em;
      }

    }
    li:before {
      position: absolute;
      left: 0;
    }
  }
  .has-bottom-margin {
    margin-bottom: 1em;
    &.half {
      margin-bottom: 0.5em;
    }
  }
  .has-top-margin {
    margin-top: 1em;
    &.px35 {
      margin-top: 35px;
    }
  }
  .benefit-image {
    height: $offset-xl;
    display: flex;
    align-items: flex-end;
  }

}

.footer {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  height: 100vh !important;
  line-height: normal;

  h1 {
    font-size: $font-size-h1;
    font-family: $font-montserrat;
    font-weight: 900;
    @include until($tablet) {
      font-size: $font-size-m;
    }
    @media screen and (orientation: landscape) and (max-width: 813px) {
      font-size: $font-size-m;
      line-height: 1em;
    }
  }
  a {
    color: $color-blue;
  }
  img {
    padding-bottom: 8em;
  }
  .email {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: $offset-xxxl;
    z-index: 2;
    @include until($tablet) {
      padding-top: $offset-xl;

      img {
        transform-origin: center;
        transform: scale(0.6);
        padding-bottom: 2em;
      }
    }
    @media screen and (orientation: landscape) {
      padding-top: $offset-xl;
    }
  }
  .social_links {
    margin-top: auto;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    font-size: $font-size-h1;
    padding-bottom: $offset-xxxl;
    z-index: 2;
    a {
      color: $color-black;
    }
    @include until($tablet) {
      font-size: $font-size-l;
      padding-bottom: $offset-xl;
    }
    @media screen and (orientation: landscape) {
      font-size: $font-size-l;
      padding-bottom: $offset-xl;
    }
  }
}

//Graph Scroll

#scroll-container {
  position: relative;
  padding-bottom: 0;
  @include from($landscape) {
    margin-bottom: -$offset-xxxl;
  }

  @include until($landscape) {
    display: flex;
    flex-direction: column-reverse;
  }

  #sections {
    @include from($mobile) {
      padding-bottom: $offset-xxxl; //space under last section
    }

    > div {
      //opacity: $opacity-none;
    }

    div.graph-scroll-active {
      opacity: $opacity-none;
    }

    div.hide {
      opacity: $opacity-half;
    }

    .section {
      padding: 1.5rem 0;

      @include from($tablet) {
        padding: 3rem 0;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }

  #graph {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    overflow: hidden;
    align-self: flex-start;
  }
  #graph:before,
  #graph:after {
    content: '';
    display: table;
  }

  #graph.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
  }

  #graph-container {
    @include until($landscape) {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background: $color-white;
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: $landscape) {
  #scroll-container {
    &.columns {
      display: flex;
    }
    .column.is-6-tablet {
      flex: none;
      width: 50%;
    }
  }
}