$navbar-breakpoint: 0;
$mobile:376px;
$tablet:768px;

$mobile-m: 430px;

$font-montserrat: 'Montserrat', sans-serif;

$font-size-h1:48px;
$font-size-m:20px;

$offset-l:32px;

$color-white:#ffffff;
$color-blue:#1AA5B8;
$color-black:#000000;

$opacity-none: 0;
$opacity-l:0.5;

