$mobile:376px;
$tablet:768px;

$mobile-m: 430px;

$font-size-h1:24px;
$font-size-m:16px;

$offset-l:32px;

$color-red:#DA4141;
$color-white:#ffffff;
$color-blue:#2FA3E4;
$color-er:#50A2FE; // color for ER circles
$color-orange:#FF7A00;
$color-yellow:#F2B600;
$color-gray:#747474;
$color-black:#000000;

