$navbar-breakpoint: 0;
$mobile: 376px;
$tablet: 768px;
$landscape: 568px;
$mobile-m: 430px;

$font-montserrat: 'Montserrat', sans-serif;

$font-size-h1: 48px;
$font-size-xl: 64px;
$font-size-l: 32px;
$font-size-m: 20px;
$font-size-s: 16px;

$offset-m: 16px;
$offset-l: 32px;
$offset-xl: 48px;
$offset-xxl: 64px;
$offset-xxxl: 80px;

$color-white:#ffffff;
$color-blue:#1AA5B8;
$color-black:#000000;

$opacity-none: 0;
$opacity-half: 0.5;

