---

---
<!DOCTYPE html class="has-navbar-fixed-top">
{% include head.html %}
<body>
{% include navbar.html %}
<div id="container"></div>
<div class="hero">
    {% include header.html %}
        {{content}}
    {% include footer.html %}
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{site.baseurl}}/assets/js/stick.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.min.js" integrity="sha256-45YA33UQCDcJsntBst2bhka2t/LBNHP7RNvpllHPkQ0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js" integrity="sha256-OI3N9zCKabDov2rZFzl8lJUXCcP7EmsGcGoP6DMXQCo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" integrity="sha256-eOUokb/RjDw7kS+vDwbatNrLN8BIvvEhlLM5yogcDIo=" crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/scroller.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
